@charset "UTF-8";

html{
  font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.logo{
  width:210px;
  margin-top:14px;


}
.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;

}
.main-nav li {
  margin-left: 36px;

}
.main-nav a{
  color: #fff;

}
.main-nav a:hover{
  color: #F00;

}
.page-header{
  display:flex;
  justify-content: space-between;

}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding:0 4%;

}
.home-content{
  text-align: center;
  margin-top: 10%;
  color: #fff

}
.home-content p{
  font-size: 1.125rem;
  margin:10px 0 42px;

}
/*見出し*/
.page-title{
  font-size:  5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;

}
/*ボタン*/
.button{
  font-size: 1.375rem;
  background:#F00;
  color:#fff;
  border-radius: 5px;
  padding:18px 32px;

}
.button:hover{
  background:#808080;

}
.big-bg{
  background-size:  cover;
  background-position:  center top;
  background-repeat:  norepeat;

}
#home{
  background-image: url(../images/p01.jpg);
  min-height: 100vh;
  background-color: #fff;


}
#home .page-title{
  text-transform: none;

}

#kodawari{
  background-image:url(../images/p3.jpg);
  height:270px;
  margin-bottom:40px;

}
#kodawari .page-title {
    text-align: center;
    color: #fff;
}
article{
  width:74%;


}
article img {
    margin-bottom:20px;
}
article p {
    margin-bottom:1rem;
}

aside{
  width:22%;


}

footer{
  background:#432;
  text-align: center;
  padding:26px 0;

}
footer p{
  color:#fff;
  font-size: 0.875rem;


}




.kodawari-contents{
  display:flex;
  justify-content: space-between;
  margin-bottom: 50px;

}
.post-info{
  position:relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
    color: #f00
}
.post-title,
.sub-title{
  font-size: 1.375rem
  padding:0 8px 8px;
  border-bottom: 2px #f00 solid;
  font-weight: normal;
}
aside p{
  padding:12px 10px;

}
.sub-menu{
  margin-bottom: 60px;
  list-style: none ;

}
.sub-menu li{
  border-bottom:1px #ddd solid;

}
.sub-menu a{
  color:#432;
  padding:10px;
  display:block;

}
.sub-menu a:hover{
  color:#0bd

}




/*menu*/
#menu {
background-image: url(../images/p7.jpg);
    min-height: 100vh;

}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
    color: #fff;

}
.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
    color: #fff;


}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;

}
.item img{
  width:200px;
  height:150px;
}


#contact{
  background-image: url(../images/p18.jpg);
  min-height: 100vh;

}

#contact .page-title{
  color: #fff;
}

form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

/* SNS */
#sns {
    background: #FAF7F0;
    padding: 4% 0;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 30px;
}
.sns-box {
    width: 30%;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* kodawari */
    .kodawari-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }


    #kodawari
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* MENU */
    .menu-content {
        margin-top: 20%;
    }

    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    /* 店舗情報・地図 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }
}
